<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BmobLikeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAE8E0931BF18489009BBDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE8E0AC1BF18489009BBDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE8E0B71BF18489009BBDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
